
@model ProjectsMVCApplication.Models.DesignPattern

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="body-content">
    <fieldset>
        @Html.Label("Id :")
        @Html.TextBoxFor(model => model.Id)

        @Html.Label("Name :")
        @Html.TextBoxFor(model => model.Name) <br /><br />

        @Html.Label("Country : ")
        @Html.DropDownListFor(model => model.CountryValue, TempData["countryList"] as List<SelectListItem>) 

        @Html.Label("Hobbies :")
        @foreach(var hobby in TempData["hobbiesList"] as List<string>)
            {
               <label>
                   <input type="checkbox" name="HobbiesValue" value="@hobby" /> @hobby
               </label>
            } 
        <br /><br />

        @Html.Label("Gender :")
        @Html.RadioButtonFor(model => model.Gender, "Male") Male
        @Html.RadioButtonFor(model => model.Gender, "Female") Female
        <br /><br />
        <input type="button" value="submit" />
    </fieldset>

</div>
